@media only screen and (max-width: 1100px) {
  .assets--container {
    transform: scale(0.8);
    position: absolute;
    left: 50%;
    bottom: 100px;
  }
  .text {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 900px) {
    .assets--container {
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: scale(0.65);
    }
    .text {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .assets--container {
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: scale(0.55);
    }
    .text {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .assets--container {
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: scale(0.5);
    }
    .text {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 520px) {
    .assets--container {
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: scale(0.35);
    }
    .text {
      font-size: 0.8rem;
    }
  }
}
