@keyframes backgroundColorSummer {
  100% {
    background-color: $backgroundSummer;
  }
}

@keyframes backgroundColorAutumn {
  100% {
    background-color: $backgroundAutumn;
  }
}

@keyframes backgroundColorWinter {
  100% {
    background-color: $backgroundWinter;
  }
}

@keyframes assetOpacity {
  100% {
    opacity: 100%;
  }
}

@keyframes assetOpacityDown {
  100% {
    opacity: 0;
  }
}

@keyframes hills {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-320px);
  }
}

@keyframes daffodil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120px);
  }
}

@keyframes daffodilDown {
  100% {
    transform: translateY(120px);
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes textFadeUp {
  0% {
    transform: translateY(0);
  }

  25% {
    opacity: 0;
  }

  100% {
    transform: translateY(-500px);
    opacity: 100%;
  }
}
